.common-page{
	width: calc(100% - 120px); /* 80%宽度 */
	height: 100%;
	display: inline-flex;  /* inline-flex表示 inline + block + flex 布局 */
	margin-left:-60px;
	border-radius: 40px;
	background-color: white;
	vertical-align: middle;
}

.common-page-main{
	width:70%;
	padding:40px;
	background-color: rgb(238,239,244);
	border-radius: 40px;
}

.common-page-main-header{
	height:40px;
	margin-bottom:30px;
}

.common-page-main-header-title1{
	font-size: 24px;
	color:rgb(46,45,53);
	vertical-align: top;
}

.common-page-main-header-title2{
	font-size: 24px;
	color:rgb(133,133,141);
}

.common-page-right-part{
	padding:40px;
	width:calc(30% - 160px); /* 这是w3c盒子，width不包括padding，所以还要减去两个div的padding */
}


