.vertical-split-line{
	float: right;
	height:14px;
	margin:3px 10px 0 10px;
	border: 0.5px solid black;
	color:rgb(133,133,141);
}

.articles-header-switch-button{
	float:right;
	font-size: 14px;
	color:rgb(115,161,196);
}

.articles-header-switch-button:hover{
	cursor: pointer;
}

.articles-list{
	height:calc(100% - 130px); /* 子元素是父元素的content；40px是header */
	overflow: scroll;
}

.articles-list li{
	height:35px;
	padding:0 5px 0 5px;
	color: black;
	line-height: 35px;
}

.articles-list li a{  /* 解决权重问题 */
	color:#4A4A4A;
}

.articles-list-bg{
	background-color: rgb(184,200,220);
}

.articles-list-title{
	display: inline-block;
	width:300px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.articles-list-date{
	float:right;
	margin-right:20px;
	font-size: 14px;
}

.articles-list-tag {
	float: right;
	font-size: 14px;
}

.articles-list Link a{
	text-decoration: none;
}

.articles-tags-selector{
	height:35%;
	margin-top: 60px;
	overflow: scroll;
}

.articles-selector-title{
	margin-bottom: 10px;
	font-size: 14px;
	color: rgb(163,162,166);
}

.selected-tag{
	background-color: rgb(238,239,244);
}

.articles-tags-selector-item{
	height:30px;
	margin:15px auto 0 auto;
	padding: 0 3px;
	line-height: 30px;
}

.articles-tags-selector-item:hover{
	background-color: rgb(238,239,244);
}

.articles-tags-selector-value{
	float: right;
}

.articles-timeline-selector-year{
	height:30px;
	margin-top:15px;
	background-color: rgb(238,239,244);
	border: 0.1px solid rgb(163,162,166);
	border-bottom: none;
	text-align: center;
	line-height: 30px;
}

.articles-timeline-selector-year i{
	color: rgb(115,161,196);
}

.icon-triangle-left{
	margin-right:25px;
}

.icon-triangle-right{
	margin-left: 25px;
}

.articles-timeline-selector-year i:hover{
	cursor: pointer;
}

.articles-timeline-selector-month{
	width:100%;
	background-color: rgb(238,239,244);
	border-collapse: collapse;
	font-size: 14px;
}

.articles-timeline-selector-month td{
	width:25%;
	height:40px;
	text-align: center;
	line-height:40px;
}

.articles-timeline-selector-month td:hover{
	cursor: pointer;
	background-color: rgb(115,161,196);
}

.selected-month{
	background-color: rgb(115,161,196);;
}




