.App{
	display: flex;
	height:100vh;
	padding:20px 70px;
	/* 让子元素可以撑满空间，同时也保证两边有间隙 */
	background-color: rgb(220,226,253);
	box-sizing: border-box;
	/* IE盒子，width=content+padding+border */
	font-family: "palatino";
	font-size: 16px;
	color:#4A4A4A;
}

body, ul ,li,h2, h3, h4, span, tr, td, table{
	padding:0;
	margin:0;
}

li{
	list-style:none;
}

a{
	text-decoration: none; /* 下划线和划掉线 */
}

table, tr, td{
	border:1px solid rgb(163,162,166);
}
